.contenedor-carta {
  width: 100%;
  height: 736px;
  background-color: #f5edde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.925rem;
  padding-bottom: 50px;
}

.carta__titulo {
  width: 323px;
  height: 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  /*
        @media (max-width:400px){ 
            margin-top:-40px;
          }*/
}

.carta__curva {
  position: absolute;
  background-color: white;
}

.carta__contenedor-imagen {
  /*
        display: flex; //responsive img
        //   position: absolute;
        width: 97.6%;
        height: 432.19px;
        //    left: 0px;
        //   top: 0px;
      //  background-color: blue;
        align-items: flex-end;
     
        justify-content: space-evenly;
      //  overflow: hidden; // no sobrepase
      */
}

@media (max-width: 400px) {
  .carta__contenedor-imagen {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.carta__imagen {
  /*estilo alternativo
        border-radius: 150px 40px;
    height: 400px;
        
        */
  width: 100%;
  height: 410px;
  -webkit-mask-image: radial-gradient(120% 20% at bottom, transparent 42%, #fff 45%);
}

@media (max-width: 400px) {
  .carta__imagen {
    -webkit-mask-position-y: center;
    height: unset;
  }
}

@media (max-width: 330px) {
  .carta__imagen {
    -webkit-mask-position-x: center;
    -webkit-mask-position-y: unset;
  }
}

.carta__contenedor-imagen2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: purple;
}

.carta__descripcion {
  width: 292px;
  height: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.rectangulos {
  height: 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.rectangulos__6 {
  width: 29px;
  height: 7px;
  left: 208px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__7 {
  width: 8px;
  height: 7px;
  left: 187px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__8 {
  width: 7px;
  height: 7px;
  left: 171px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn-comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 123px;
  width: 304px;
  height: 58px;
  background: #f64444;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
}

@media (max-width: 400px) {
  .btn-comenzar {
    width: 275px !important;
  }
}

.btn-comenzar:hover, .btn-comenzar:active {
  background-color: #ad0d0d;
  color: wheat;
}

.btn-comenzar__texto {
  position: static;
  width: 124px;
  height: 23px;
  left: 102px;
  top: 17.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.contenedor-2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  background: #ff0000;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
}
