.contenedor-carta {
  width: 100%;
  height: 736px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.925rem;
  padding-bottom: 50px;
  overflow: hidden;
}

.carta__titulo {
  width: 323px;
  height: 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #000000;
}

.carta__curva {
  position: absolute;
  background-color: white;
}

.carta__contenedor-imagen {
  margin-bottom: -1.5rem;
}

@media (max-width: 400px) {
  .carta__contenedor-imagen {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.carta__imagen {
  width: 27.865rem;
  -webkit-mask-image: radial-gradient(120% 18% at bottom, transparent 42%, #fff 45%);
}

@media (max-width: 330px) {
  .carta__imagen {
    -webkit-mask-image: radial-gradient(135% 22% at bottom, transparent 42%, #fff 45%);
  }
}

.carta__contenedor-imagen2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: purple;
}

.carta__descripcion {
  width: 292px;
  height: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.rectangulos {
  height: 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.rectangulos__6 {
  width: 29px;
  height: 7px;
  left: 208px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__7 {
  width: 8px;
  height: 7px;
  left: 187px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__8 {
  width: 7px;
  height: 7px;
  left: 171px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn-comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 123px;
  width: 304px;
  height: 58px;
  background: #f64444;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
}

@media (max-width: 400px) {
  .btn-comenzar {
    width: 275px !important;
  }
}

.btn-comenzar:hover, .btn-comenzar:active {
  background-color: #ad0d0d;
  color: wheat;
}

.btn-comenzar__texto {
  position: static;
  width: 124px;
  height: 23px;
  left: 102px;
  top: 17.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.contenedor-2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  background: #ff0000;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 63px;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 510px;
}

@media (max-width: 340px) {
  .contenedor-menu {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .contenedor-menu {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 95px;
  /* flex-basis: 100px; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__direccion {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 7px;
  color: #000000;
}

.menu-header__foto {
  /*width: 60px;
        height: 80px;

        */
  background: url("/images/ellipse_13.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 500px;
  width: 50px;
  height: 48px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.menu-header__img-usuario {
  margin-top: 8px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.elipse-img {
  margin-left: -10px;
  width: 80px;
  height: 68px;
  /* left: 329px; */
  /* top: 27px; */
  margin-top: 5px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  background: url("/images/img-user.svg");
}

.rectangulo-nav__circulo-abajoDer, .rectangulo-nav__circulo-abajoIzq, .rectangulo-nav__circulo-arrDer, .rectangulo-nav__circulo-arrIzq {
  border-radius: 50px;
  background: #c4c4c4;
  -webkit-transform: matrix(0.87, 0.52, -0.48, 0.86, 0, 0);
          transform: matrix(0.87, 0.52, -0.48, 0.86, 0, 0);
}

.rectangulo-nav {
  width: 50px;
  height: 48px;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
}

.rectangulo-nav__fondo {
  background-color: white;
  width: 54px;
  /* border-radius: 15px; */
  height: 50px;
  margin-top: -2.3px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.rectangulo-nav__circulo-abajoDer {
  position: absolute;
  left: 32.69%;
  right: 51.1%;
  top: 51.65%;
  bottom: 31.09%;
}

.rectangulo-nav__circulo-abajoIzq {
  position: absolute;
  left: 32.69%;
  right: 51.1%;
  top: 23.91%;
  bottom: 58.83%;
}

.rectangulo-nav__circulo-arrDer {
  position: absolute;
  left: 61.12%;
  right: 22.66%;
  top: 51.65%;
  bottom: 31.09%;
}

.rectangulo-nav__circulo-arrIzq {
  position: absolute;
  left: 61.12%;
  right: 22.66%;
  top: 23.91%;
  bottom: 58.83%;
}

.imge:hover {
  border-color: red;
  background-color: red;
}

.box-ordenar__aviso, .box-ordenar__boton, .box-ordenar__texto, .boton-alimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-ordenar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 137px;
  background: rgba(236, 106, 0, 0.25);
  border: 1px solid #ec6a00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 50%;
  padding-left: 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-ordenar__fondo {
  /*
        width: inherit;
        object-fit: cover;*/
  position: fixed;
  width: 345px;
  max-height: 130px;
}

.box-ordenar__aviso {
  z-index: 1;
  /*  position: absolute;
        left: 11.11%;
        right: 50%;
        top: 10.93%;
        bottom: 72.83%; */
  /*
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
*/
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  color: #000000;
}

.box-ordenar__boton {
  /*
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        */
  padding: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 117px;
  left: calc(50% - 117px / 2 - 89.5px);
  top: 55.47%;
  bottom: 12.41%;
  background: #ef4848;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  z-index: 2;
}

.box-ordenar__texto {
  width: 89px;
  height: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.box-ordenar__zanella {
  padding-top: 70px;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  max-width: 240px;
}

@media (max-width: 340px) {
  .box-ordenar__zanella {
    -webkit-transform: translateX(-45px);
            transform: translateX(-45px);
    max-width: 200px;
  }
}

.categorias {
  margin-top: -10px;
}

.categorias__titulo {
  margin-bottom: 14px;
}

.categorias__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 43px;
  gap: 20px;
}

@media (max-width: 340px) {
  .categorias__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.boton-alimento {
  /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
  padding: 9px 10px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background: #ef4848;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.boton-alimento__foto {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-left: -3px;
  margin-bottom: -4px;
}

.boton-alimento__texto {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}
