.contenedor-carta {
  width: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.925rem;
  overflow: hidden;
  padding-bottom: 60px;
  max-height: -webkit-fill-available;
}

.foto__burger {
  position: absolute;
  right: 85%;
}

.carta__titulo {
  width: 323px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #000000;
}

.carta__curva {
  position: absolute;
  background-color: white;
}

.carta__contenedor-imagen {
  margin-bottom: -1.5rem;
}

@media (max-width: 400px) {
  .carta__contenedor-imagen {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.carta__imagen {
  width: 27.865rem;
  height: 30.438rem;
  -webkit-mask-image: radial-gradient(120% 18% at bottom, transparent 42%, #fff 45%);
}

@media (max-width: 330px) {
  .carta__imagen {
    -webkit-mask-image: radial-gradient(135% 22% at bottom, transparent 42%, #fff 45%);
  }
}

.carta__contenedor-imagen2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: purple;
}

.carta__descripcion {
  width: 292px;
  height: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.rectangulos {
  height: 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.rectangulos__6 {
  width: 29px;
  height: 7px;
  left: 208px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__7 {
  width: 8px;
  height: 7px;
  left: 187px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.rectangulos__8 {
  width: 7px;
  height: 7px;
  left: 171px;
  top: 613px;
  background: #f28181;
  border-radius: 12px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn-comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 123px;
  -webkit-box-shadow: 0px 4px 24px rgba(244, 76, 76, 0.45);
          box-shadow: 0px 4px 24px rgba(244, 76, 76, 0.45);
  width: 304px;
  height: 58px;
  background: #df2424;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

@media (max-width: 400px) {
  .btn-comenzar {
    width: 275px !important;
  }
}

.btn-comenzar:hover, .btn-comenzar:active {
  background-color: #ad0d0d;
  color: wheat;
}

.btn-comenzar__texto {
  position: static;
  width: 124px;
  height: 23px;
  left: 102px;
  top: 17.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.contenedor-2 {
  position: absolute;
  width: 414px;
  height: 432.19px;
  left: 0px;
  top: 0px;
  background: #ff0000;
  border: 1px solid #ff0000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 400px) {
  .contenedor__cartas {
    gap: 0.5rem;
    padding-bottom: 60px;
    max-height: -webkit-fill-available;
  }
}

body {
  background-color: whitesmoke;
}

.contenedor-perfil {
  margin-left: 2rem;
  margin-right: 2rem;
}

.contenedor-perfil__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.img_perfil {
  width: 70px !important;
  height: 68px !important;
}

#btn-update {
  position: fixed;
  left: 0%;
  opacity: 85%;
  top: 5px;
  z-index: 1;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500 !important;
  color: white;
  text-transform: none;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #df2424e0;
}

@media (min-width: 380px) {
  #btn-update {
    left: 6%;
  }
}

#btnCart-update {
  text-transform: inherit;
}

.contenedor-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(100vh - 20px);
}

@media (max-width: 340px) {
  .contenedor-menu {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .contenedor-menu {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
}

@media (min-width: 1000px) {
  .contenedor-menu {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.contenedor-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.backforth {
  position: absolute;
  bottom: 41%;
  left: 80%;
  width: 40px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 95px;
  /* flex-basis: 100px; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -20px;
}

.menu-header__direccion {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 7px;
  color: #000000;
}

.menu-header__foto {
  /*width: 60px;
        height: 80px;

        */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 500px;
  width: 50px;
  height: 48px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.menu-header__img-usuario {
  margin-top: 8px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.elipse-img {
  margin-left: -10px;
  width: 80px;
  height: 68px;
  /* left: 329px; */
  /* top: 27px; */
  margin-top: 5px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  background: url("/images/img-user.svg");
}

.rectangulo-nav__circulo-abajoDer, .rectangulo-nav__circulo-abajoIzq, .rectangulo-nav__circulo-arrDer, .rectangulo-nav__circulo-arrIzq {
  border-radius: 50px;
  background: #c4c4c4;
  -webkit-transform: matrix(0.87, 0.52, -0.48, 0.86, 0, 0);
          transform: matrix(0.87, 0.52, -0.48, 0.86, 0, 0);
}

.rectangulo-nav {
  width: 50px;
  height: 48px;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
}

.rectangulo-nav__fondo {
  background-color: white;
  width: 54px;
  /* border-radius: 15px; */
  height: 50px;
  margin-top: -2.3px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.rectangulo-nav__circulo-abajoDer {
  position: absolute;
  left: 32.69%;
  right: 51.1%;
  top: 51.65%;
  bottom: 31.09%;
}

.rectangulo-nav__circulo-abajoIzq {
  position: absolute;
  left: 32.69%;
  right: 51.1%;
  top: 23.91%;
  bottom: 58.83%;
}

.rectangulo-nav__circulo-arrDer {
  position: absolute;
  left: 61.12%;
  right: 22.66%;
  top: 51.65%;
  bottom: 31.09%;
}

.rectangulo-nav__circulo-arrIzq {
  position: absolute;
  left: 61.12%;
  right: 22.66%;
  top: 23.91%;
  bottom: 58.83%;
}

.imge:hover {
  border-color: red;
  background-color: red;
}

.box-ordenar__aviso, .box-ordenar__boton, .box-ordenar__texto, .boton-alimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-ordenar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 137px;
  text-align: center;
  background-color: #ec6a0066;
  border: 1px solid #ec6a00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 50%;
  padding-left: 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .box-ordenar {
    -ms-flex-line-pack: end;
        align-content: end;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1399px) {
  .box-ordenar {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  .box-ordenar {
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.box-ordenar__fondo {
  /*
        width: inherit;
        object-fit: cover;*/
  position: fixed;
  width: 345px;
  max-height: 130px;
}

.box-ordenar__aviso {
  z-index: 1;
  /*  position: absolute;
        left: 11.11%;
        right: 50%;
        top: 10.93%;
        bottom: 72.83%; */
  /*
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
*/
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  color: #000000;
}

.box-ordenar__boton {
  /*
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        */
  padding: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 117px;
  left: calc(50% - 117px / 2 - 89.5px);
  top: 55.47%;
  bottom: 12.41%;
  background: #ef4848;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  z-index: 2;
}

.box-ordenar__texto {
  width: 89px;
  height: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.box-ordenar__zanella {
  padding-top: 70px;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  max-width: 240px;
}

@media (max-width: 340px) {
  .box-ordenar__zanella {
    -webkit-transform: translateX(-45px);
            transform: translateX(-45px);
    max-width: 200px;
  }
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categorias__titulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  /* identical to box height */
  color: #000000;
}

.categorias__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  overflow: auto;
}

@media (min-width: 1000px) {
  .categorias__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.boton-alimento {
  /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
  padding: 9px 10px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #b1a0a0;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.boton-alimento--cate-activo {
  background-color: #ef4848;
}

.boton-alimento__foto {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-left: -3px;
  margin-bottom: -4px;
}

.boton-alimento__texto {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 600;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: scroll;
  min-height: 187px;
}

.productos__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.producto-ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
  min-width: 50%;
}

.producto-ficha__foto {
  max-height: 95px;
}

.producto-ficha__titulo {
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.producto-ficha__pollo {
  height: 95px;
}

.producto-ficha__descripcion {
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.producto-ficha__precio {
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ef4848;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 67px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__lupa {
  color: #df2424;
}

.footer-nav__contador-menu {
  display: none;
}

.footer-nav__carrito-notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__carta {
  background-color: #eadfd4;
}

.carta-container__fondo {
  height: 72%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (min-width: 759px) {
  .carta-container__fondo {
    left: 20% !important;
    right: 20% !important;
  }
}

@media screen and (min-width: 1300px) {
  .carta-container__fondo {
    left: 30% !important;
    right: 30% !important;
  }
}

@media (max-width: 758px) {
  .carta-container__fondo {
    left: 2%;
    right: 2%;
    bottom: 2%;
  }
}

.foto__burger {
  top: 10%;
}

.burger-container {
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 30px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 340px) {
  .burger-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 759px) {
  .burger-container {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (min-width: 1300px) {
  .burger-container {
    margin-left: 35%;
    margin-right: 35%;
  }
}

.burger-container__imagen {
  max-width: -webkit-fill-available;
}

.burger-container__titulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.burger-container__resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 58px;
  background: #f64444;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 24px rgba(244, 76, 76, 0.45);
          box-shadow: 0px 4px 24px rgba(244, 76, 76, 0.45);
  border-radius: 30px;
  /*
    &:active{
        background-color: #f97b7b;
    }
    */
}

.btn-carrito__texto {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.burger-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.burger-stats__icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-content: stretch; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-texto {
  height: 54px;
}

.burger-texto__ {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.contador-pedidos {
  margin-top: -10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 136px;
  height: 54px;
  background: #f64444;
  border-radius: 25px;
}

.resumen-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-header {
  width: 100%;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-header__titulo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.burger-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-header__precio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ef4848;
}

.carrito-cartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-bottom: 1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: solid #ddd;
  border-bottom-width: 2px;
  width: 100%;
  min-height: 100px;
}

.carrito-cartas__precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 67px;
}

.carrito-cartas__numero-precio {
  font-size: 18px;
}

.carrito-cartas__item {
  max-width: 80px;
}

.carrito-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #ddd;
  border-bottom-width: 2px;
  width: 100%;
  min-height: 100px;
}

.shopping_basket {
  width: 100px;
}

.titulo-container {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contenedor-resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.btn-comprarCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.carrito__contador {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 34px;
  background: #f64444;
  border-radius: 25px;
}

.carrito-titulo {
  font-size: 25px;
  margin: 0px;
  margin-left: calc((100vw - 200px) / 2);
}

.carrito-interfaz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding: 10px 0;
}

.carrito-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
}

.carrito-total__numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrito-total__simbolo {
  font-size: 34px !important;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.carrito-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carrito-header__img {
  padding: 20px;
  padding-left: 6px;
}

.carrito-header__titulo {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25px;
  margin: 0px;
  margin-left: calc((100vw - 200px) / 2);
}

.carrito-header__titulo__nombre {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
